@media (min-width: 935px) {
    .topo-centro, .conteudo {
        width: 935px;
    }
    .stories-posts {
        width: 614px;
    }
    .topo-mobile, .barra-inferior {
        display: none;
    }
    .stories {
        background-color: #ffffff;
        width: calc(100% - 2px);
        height: 118px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        margin-bottom: 24px;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .stories ion-icon {
        font-size: 26px;
        position: absolute;
        left: 580px;
        top: 49px;
        border-radius: 50%;
        color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 8px gray;
    }
}
@media (min-width: 614px) and (max-width: 934px){
    .topo-centro, .conteudo {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .stories-posts {
        width: 614px;
        margin: auto;
    }
    .topo-mobile, .barra-inferior {
        display: none;
    }
    .stories {
        background-color: #ffffff;
        width: calc(100% - 2px);
        height: 118px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        margin-bottom: 24px;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .stories ion-icon {
        font-size: 26px;
        position: absolute;
        left: 580px;
        top: 49px;
        border-radius: 50%;
        color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 8px gray;
    }
}
@media (max-width: 613px){
    .topo-centro, .conteudo {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .stories-posts {
        width: 100%;
    }
    .topo {
        display: none;
    }
    .topo-mobile {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        background-color: #ffffff;
        z-index: 1;
    }
    .stories {
        margin-top: 22px;
        width: calc(100% - 2px);
        height: 118px;
        display: flex;
        overflow: hidden;
        position: relative;
    }
    .barra-inferior {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        background-color: #ffffff;
        z-index: 1;
    }
    .barra-inferior-home, .barra-inferior-search, .barra-inferior-add, .barra-inferior-heart, .barra-inferior-person {
        width: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .stories ion-icon {
        display: none;
    }
}
body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
.mobile-logo, .mobile-paperplan {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-instagram {
    width: calc(100% - 108px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.topo {
    background-color: #ffffff;
    height: 54px;
    border: 1px solid #dbdbdb;
}
.topo-centro {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 54px;
}
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 150px;
}
.logo ion-icon, .mobile-logo ion-icon {
    font-size: 20px;
}
.barra-vertical {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
}
.instagram img, .mobile-instagram img{
    margin-top: 5px;
    width: 103px;
}
.pesquisa {
    height: 28px;
    width: 215px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin: auto 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #979797;
}
.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 150px;
}
.opcoes ion-icon, .mobile-paperplan ion-icon {
    font-size: 20px;
}
.conteudo {
    margin: auto;
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 66px;
    margin-left: 14px;
}
.imagem {
    position: relative;
    width: 66px;
    height: 66px;
}
.story img.fundo {
    position: absolute;
    width: 66px;
}
.story img.perfil {
    left: 5px;
    top: 5px;
    position: absolute;
    width: 56px;
    border-radius: 50%;
}
.story p {
    width: 100%;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #262626;
}
.posts {
    width: 100%;
    height: 500px;
}
.sidebar {
    height: 200px;
    width: 293px;
}
.posts ion-icon {
    font-size: 500px;
}
.post {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}
.post-opcoes, .post-iteracoes {
    width: 100%;
}
.post img {
    width: 100%;
}
.post-topo {
    height: 60px;
    display: flex;
}
.icon, .mais {
    height: 60px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    width: 32px;
    border-radius: 50%;
}
.post-perfil {
    height: 60px;
    width: calc(100% - 132px);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: left;
    align-items: center;
}
.post-opcoes {
    height: 20px;
    display: flex;  
}
.curtir, .comentar, .compartilhar, .salvar {
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.curtir ion-icon, .comentar ion-icon, .compartilhar ion-icon, .salvar ion-icon {
    font-size: 20px;
}
.opcoes-espaco {
    width: calc(100% - 152px);
}
.post-iteracoes {
    height: 20px;
    display: flex;
}
.post-iteracoes img {
    width: 20px;
    border-radius: 50%;
}
.bullet svg {
    width: 3px;
    margin-right: 2px;
}
.iteracoes-icon {
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iteracoes-perfil {
    width: calc(100% - 38px);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: center;
}
strong {
    font-weight: 700;
}
.post-base {
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seu-perfil {
    font-size: 14px;
    height: 100px;
    display: flex;
    align-items: center;
}
.seu-icon {
    width: 56px;
    height: 56px;
    margin-right: 17px;
}
.seu-icon img {
    width: 56px;
    border-radius: 50%;
}
.seu-nome p {
    margin-top: 5px;
}
.sugestoes-para-voce {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.texto-sugestoes {
    color: #8e8e8e;
}
.sugestoes {
    height: 32px;
    display: flex;
    margin-bottom: 16px;
}
.sugestoes-icon img {
    width: 32px;
    border-radius: 50%;
    margin-right: 11px;
}
.seguir {
    width: 40px;
}
.sugestoes-perfil {
    width: calc(100% - 83px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sugestoes-perfil strong {
    font-size: 14px;
}
.sugestoes-perfil p {
    font-size: 12px;
}
.seguir {
    font-size: 12px;
    color: #139EF2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.links-sidebar, .direitos {
    margin-bottom: 18px;
    font-size: 11px;
    color: #c7c7c7;
}
.links-sidebar {
    margin-top: 33px;
}
.topo-mobile {
    background-color: #ffffff;
    height: 54px;
    border: 1px solid #dbdbdb;
}